
{% from "bootstrap5/form.html" import render_form %} {% block content %}
{%include "header.html" %}


<div class="top-container">
    
      <div class="col-md-10 col-lg-8 col-xl-7">

        <div class="page-heading">
          {% if is_edit: %}
          <h1>Edit </h1>
          {% else: %}
          <h1>Add or create</h1>
          {% endif %}
        </div>

          <main class="mb-4">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  {{ ckeditor.load() }} {{ ckeditor.config(name='body') }} {{
                  render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                </div>
              </div>
            </div>
          </main>


      </div>
   
  </div>



{% include "footer.html" %} {% endblock %}