{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
include "header.html" %}

<!-- Page Header -->
<header>
  
  <div class="top-container">

    <div class="title-text">
      <h1>Register.</h1>
      <span class="subheading">Support Me By Your Registration!</span>
    </div>
    
    
        <main class="mb-4">
           <div class="container">
           <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
           {{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
           </div>
           </div>
            </div>
        </main>
  </div>

  
</header>



{% include "footer.html" %} {% endblock %}
